@import "~fista-styles/styles/fista";

.desktopNavbar {
    display: none;

    @include breakpoint(sm) {
        display: inline-flex;
        overflow: auto;
        padding-top: 5px;
        margin-left: auto;
        margin-right: 50px;
    }
}

.navItem {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;

    @include breakpoint(sm) {
        font-size: 20px;
    }

    @include breakpoint(md) {
        padding: 10px;
    }

    &:focus {
        text-decoration: none;
    }
}

.active {
    background-color: white;
    color: black;
    pointer-events: none;
}
