@import "~fista-styles/styles/fista";

.navContent {
    padding: 20px 10px 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;

    @include breakpoint(md) {
        padding: 30px 10px 10px 20px;
    }
}

.leftDiv {
    margin-left: 5px;
    display: flex;
    align-items: baseline;
    @include breakpoint(sm) {
        width: 20%;
    }
}

.logo {
    width: 130px;
    height: auto;
}

.siteDescription {
    margin-left: 10px;
    color: white;
}

.rightDiv {
    display: inline-block;
    margin-left: auto;
    margin-right: 30px;

    @include breakpoint(sm) {
        display: none;
    }
}
