@import "~fista-styles/styles/fista";

.menuItem {
    margin: 20px 0;
    text-transform: uppercase;
    color: white;
}

.navItem {
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;

    @include breakpoint(sm) {
        font-size: 20px;
    }

    @include breakpoint(md) {
        padding: 10px;
    }

    &:focus {
        text-decoration: none;
    }

    &.active {
        background-color: white;
        color: black;
        pointer-events: none;
    }
}

.hamburgerMenu {
    display: none;
}

.hamburgerMenuOpen {
    display: block;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    position: absolute;
    right: 15px;
    top: 60px;
    z-index: 10;
    padding: 10px;
}
